.page_1_header_style{
    height: 12%;
    width: 30%;
    background-color: aliceblue;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.img-page-1-header{
    height: 30px;
    width: auto;
    margin: 10px;
}

.search_line{
    margin: 10px;
    height: 30px;
    width: 350px;
    border-radius: 12px;
    border-width: 1px;
    background-color: aliceblue;
}