.add-page-footer{
    height: 13%;
    width: 30%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    position: fixed;
    bottom: 0;
}